@mixin servicecard {
  text-align: center;
  padding: 38px;
  width: 271px;
  height: 181px;
  display: flex;
  margin: auto;
  font-size: 20px;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  img {
    box-sizing: content-box;
    width: 40px;
    padding-bottom: 20px;
    aspect-ratio: 1;
  }
}

@mixin image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}


@mixin star {
  color: red;
  position: absolute;
}


@mixin footer-Heading {
  font-weight: 500;
  font-size: 20px;
  color: $primary;
  text-transform: uppercase;
}