@import "var";
@import "mixing";

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  flex-direction: row;
  height: 80px;
  position: relative;
  width: 100%;
  background-color: $primary-dark;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  div.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    img {
      display: block;
      width: 28px;
      height: 37.5px;
    }
    h1 {
      font-size: 20px;
      font-weight: 700;
      color: $primary;
    }
  }
  label {
    display: none;
  }
  input[type="checkbox"] {
    display: none;
  }
  ul {
    display: flex;
    list-style: none;
    position: static;
    background-color: transparent;
    gap: 3%;
    width: 35vw;
    justify-content: space-evenly;
    li {
      border: none;
    }
    li:last-child {
      color: $btn-color;
      font-weight: 600;
    }
  }
}
@media (max-width: 1100px) {
  nav {
    ul {
      width: 50vw;
    }
  }
}
@media (max-width: 768px) {
  nav {
    label {
      aspect-ratio: 1;
      width: 20px;
      i {
        width: 100%;
      }
    }

    ul {
      position: absolute;
      display: none;
      z-index: 20;
      background-color: rgb(116, 127, 229);
      top: 100%;
      left: 0;
      list-style: none;
      width: 100%;
      li {
        padding: 1%;
        text-align: center;
        border-bottom: 1px solid #ccc9c9;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
    ul:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    input[type="checkbox"]:checked ~ ul {
      display: block;
    }
    label {
      display: block;
    }
  }
}

header {
  background: url(../../assests/Images/background/Hero.jpg);
  height: 40rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
  h2 {
    color: $text-color;
    font-weight: 600;
    font-size: 72px;
    align-self: center;
    width: 45%;
    margin-left: 10%;
  }
  div.popup {
    background-color: $secondary;
    width: 416px;
    align-self: flex-end;
    color: $w;
    margin-right: 112px;
    text-align: center;
    h3 {
      font-weight: 700;
      padding: 20px;
      font-size: 20px;
      font-weight: 700;
    }
    p {
      padding: 0 53px;
      font-size: 24px;
      margin-bottom: 5%;
    }
    div.buttons {
      width: 100%;
      display: flex;
      button {
        width: 100%;
        background-color: $text-color;
        color: $w;
        padding: 1%;
        border: none;
        outline: none;
      }
      button:first-child {
        border-right: 1px solid $w;
      }
    }
  }
}

@media (max-width: 990px) {
  header {
    height: 30rem;
    flex-direction: column;
    h2 {
      width: 80%;
      margin: auto;
    }
    div.popup {
      width: 40%;
      align-self: center;
      h3 {
        padding: 3% 2%;
      }
      p {
        padding: 1% 2%;
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 678px) {
  header {
    height: 20rem;
    h2 {
      font-size: 2.5rem;
    }
    div.popup {
      width: 70%;
      align-self: center;
      h3 {
        padding: 3% 2%;
      }
      p {
        padding: 1% 2%;
      }
    }
  }
}

section.reputation {
  margin: 5% auto;
  h2 {
    font-weight: 700;
    text-align: center;
    font-size: 32px;
    margin-bottom: 2%;
    color: $text-color;
    -webkit-text-stroke-width: 1px; /* Define the outline width */
    -webkit-text-stroke-color: black;
    text-shadow: 0px 4px 4px #00000040;
  }
  div.container {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: auto;
    gap: 5%;
    div.card {
      width: 292px;
      border-radius: 3px;
      color: $text-color;
      padding: 20px;
      border: 1px solid #ccc9c9;
      img {
        width: 36px;
        aspect-ratio: 1;
        margin-bottom: 18px;
      }
      h3 {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 18px;
      }
      p {
        color: #858ead;
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  section.reputation {
    div.container {
      flex-direction: column;
      div.card {
        margin: 1% auto;
        padding: 2%;
        width: 60%;
      }
    }
  }
}

@media (max-width: 468px) {
  section.reputation {
    margin: 10% auto;
    div.container {
      div.card {
        padding: 3%;
        width: 90%;
        margin: 2% auto;
      }
    }
  }
}

section.image {
  background: url(../../assests/Images/background/person.svg);
  width: 902px;
  height: 669px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 20%;
  position: relative;
  div.about {
    left: 726px;
    top: 73px;
    position: absolute;
    background-color: $primary;
    padding: 40px;
    height: 523px;
    width: 488px;
    color: $w;
    h3 {
      font-weight: 700;
      margin-top: 10px;
      font-size: 36px;
      margin-bottom: 37px;
    }
    p {
      font-size: 20px;
      margin-bottom: 74px;
    }
    button {
      background-color: $w;
      color: $primary;
      padding: 3%;
      font-size: 18px;
      border: none;
      margin-bottom: 20px;
      outline: none;
      border-radius: 3px;
    }
  }
}

@media(max-width: 1600px){
section.image {
  margin-left: 15%;
}
}

@media(max-width: 1440px){
section.image {
  margin-left: 10%;
}
}
@media (max-width: 1360px) {
  section.image {
    width: 50%;
    height: 28rem;
    margin-bottom: 10%;
    div.about {
      left: 80%;
      top: 3rem;
      padding: 7% 5%;
      width: 90%;
      height: 100%;
      p {
        margin-bottom: 10%;
      }
    }
  }
}

@media (max-width: 900px) {
  section.image {
    width: 50%;
    height: 28rem;
    margin-bottom: 10%;
    div.about {
      left: 70%;
      top: 1rem;
      padding: 7% 5%;
      width: 100%;
      height: 100%;
      h3{
        margin-top: 0;
      }
      p {
        margin-bottom: 10%;
      }
    }
  }
}

@media (max-width: 768px) {
  section.image {
    width: 90%;
    
    margin: auto;
    margin-bottom: 80%;
    height: 20rem;
    div.about {
      top: 100%;
      left: 0;
      padding: 7% 5%;
      width: 100%;
      height: auto;
      p {
        margin-bottom: 10%;
      }
    }
  }
}

@media (max-width: 610px) {
  section.image {
    margin-bottom: 100%;
    div.about {
      top: 100%;
      left: 0;
      padding: 7% 5%;
      width: 100%;
      height: auto;
      p {
        margin-bottom: 10%;
      }
    }
  }
}


@media (max-width: 480px) {
  section.image {
    margin-bottom: 130%;
  }
}

@media (max-width: 400px) {
  section.image {
    margin-bottom: 150%;
  }
}

@media (max-width: 360px) {
  section.image {
    margin-bottom: 170%;
  }
}

@media (max-width: 325px) {
  section.image {
    margin-bottom: 190%;
  }
}

section.services {
  background-color: #f6f8f7;
  margin: 5% auto;
  width: 100%;
  padding-bottom: 10%;
  h2 {
    color: $text-color;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    padding: 3%;
  }
  div.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1009px;
    margin: auto;
    gap: 48px;
    div.card:nth-of-type(even) {
      background-color: $primary;
      color: $w;
      @include servicecard;
      img {
        border-bottom: 2px solid $w;
      }
    }
    div.card:nth-of-type(odd) {
      background-color: $w;
      color: $primary;
      @include servicecard;
      img {
        border-bottom: 2px solid #E0E3EB;
      }
    }
  }
}

@media (max-width: 1100px) {
  section.services {
    div.container {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      div.card{
        width: 100%;
      }
    }
  }
}


@media (max-width: 768px) {
  section.services {
      padding: 10%;
    div.container {
      grid-template-columns: repeat(1, 1fr);
      div.card {
        img {
          width: 80px !important;
        }
      }
    }
  }
}


section.experience {
  display: flex;
  width: 70%;
  margin: auto;
  div.left {
    position: relative;
    margin: auto;
    background-color: orange;
    width: 30%;
    div.card {
      box-shadow: 1px 4px 4px #0000002b;
      padding: 30px;
      background-color: white;
      width: 361px;
      height: 155px;
      position: absolute;
      h4 {
        font-weight: 700;
        font-size: 72px;
      }
      p {
        color: #667299;
        border-left: 4px solid $btn-color;
        padding-left: 2%;
        margin-left: 5%;
        font-size: 16px;
      }
    }
    div.card:first-child {
      align-self: flex-end;
      right: -20%;
      top: -18rem;
      z-index: 10;
      img {
        position: absolute;
        width: 92px;
        left: 85%;
        top: -30%;
      }
    }
    div.card:nth-child(2) {
      align-self: center;
      position: absolute;
      right: 20%;
      top: -10rem;
      z-index: 5;
      img {
        position: absolute;
        width: 92px;
        right: 85%;
        top: -40%;
      }
    }
    div.card:nth-child(3) {
      align-self: center;
      position: absolute;
      right: -20%;
      top: -1rem;
      z-index: 10;
      img {
        position: absolute;
        width: 92px;
        left: 85%;
        top: -30%;
      }
    }

    div.card:nth-child(4) {
      align-self: center;
      position: absolute;
      right: 20%;
      top: 5rem;
      z-index: 5;
      img {
        position: absolute;
        width: 92px;
        left: 85%;
        top: 60%;
      }
    }
  }

  div.right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      color: $primary;
      font-weight: 700;
      font-size: 60px;
      margin-top: 122px;
      padding-top: 0;
    }
    p {
      color: #525b7a;
      margin: 40px 0px 67px 0;
      font-size: 20px;
      font-weight: 400px;
    }
    button {
      background-color: $primary;
      color: $w;
      width: 176px;
      font-size: 18px;
      padding: 16px 39px;
      margin-bottom: 127px;
      border: none;
      outline: none;
    }
  }
}

@media (max-width: 1450px) {
  section.experience {
    width: 100%;
    div.left {
      div.card:nth-child(2) {
      right: 15%;
      top: -10rem;
      }
      div.card:nth-child(4) {
        right: 15%;
        top: 6rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  section.experience {
    flex-direction: column;
    div.left {
      display: none;
    }
    div.right {
      margin: auto;
      width: 80%;
      h3{
        font-size: 40px;
        margin: 0;
      }
      button{
        margin: 0 0;
      }
    }
  }
}


section.consult {
  margin-top: 5rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: $w;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assests/Images/background/consultwency.jpg);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px;
  h3 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 2%;
  }
  p {
    font-size: 24px;
  }
  button {
    background-color: transparent;
    border: 1px solid $w;
    color: $w;
    font-size: 18px;
    padding: 5%;
    width: 236px;
  }
}

@media (max-width: 1000px) {
  section.consult {
    flex-direction: column;
    align-items: start;
    padding: 5%;
    button {
      margin-top: 2rem;
    }
  }
}


@media (max-width: 678px) {
  section.consult {
    flex-direction: column;
    align-items: start;
    button {
      margin-top: 2rem;
    }
  }
}

section.project {
  width: 90%;
  margin: 3rem auto;

  h2 {
    color: $text-color;
    margin-bottom: 40px;
  }
  div.partition {
    display: flex;
    justify-content: space-between;
    ul {
      list-style: none;
      color: #c2c7d6;
      li {
        padding-left: 16px;
        margin-bottom: 20px;
      }

      li:first-child {
        color: $primary;
        border-left: 2px solid $primary;
      }
    }

    div.parts {
      display: flex;
      flex-direction: column;
      margin-right: 30px;
      gap: 32px;
      div.images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        div.project-card {
          width: 384px;
          height: 331px;
          @include image;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          color: $w;
          div.bar {
            height: 84px;
            background-color: $primary;
            h3 {
              font-size: 20px;
              background-color: $primary;
              font-weight: 700;
              padding: 12px;
            }
            p {
              font-size: 18px;
              background-color: $primary;
              font-weight: 400;
              vertical-align: bottom;
              padding-left: 12px;
              padding-bottom: 16px;
            }
          }
        }
        div.project-card:first-child {
          background: url(../../assests/Images/background/proj1.jpg);
        }
        div.project-card:nth-child(2) {
          background: url(../../assests/Images/background/proj2.jpg);
        }
        div.project-card:nth-child(3) {
          background: url(../../assests/Images/background/proj3.jpg);
        }
        div.project-card:nth-child(4) {
          background: url(../../assests/Images/background/proj4.jpg);
        }
      }

      div.buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        button {
          width: 295px;
          font-size: 18px;
          font-weight: 400;
          background-color: $text-color;
          color: $w;
          border: none;
        }
        div.dots {
          width: 210px;
          display: flex;
          padding: 2%;
          justify-content: space-evenly;
          span {
            background-color: white;
            background-color: #f6f8f7;
            width: 16px;
            aspect-ratio: 1;
            border-radius: 100%;
          }
          span:first-child {
            background-color: $primary;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  section.project {
    div.partition {
      flex-direction: column;

      div.parts {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        div.images {
          width: 100%;
          div.project-card {
            width: 100%;
            aspect-ratio: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 840px) {
  section.project {
    div.partition {
      div.parts {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        div.images {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

@media (max-width: 840px) {
  section.project {
    div.partition {
      div.parts {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        div.buttons {
          gap: 1%;
          button {
            padding: 2%;
          }
          div.dots {
            display: none;
          }
        }
        div.images {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

@media (max-width: 370px) {
  section.project {
    div.partition {
      div.parts {
        div.images {
          div.project-card {
            aspect-ratio: unset;
          }
        }
      }
    }
  }
}


section.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0;
  background-color: #F6F8F7;
  text-align: center;
  h3{
    color: $text-color;
    font-size: 36px;
    margin-bottom: 20px;
  }
  p{
    font-size: 20px;
    color:$text-color;
    margin-bottom: 38px;
  }
  form{
    width: 592px;
    margin: auto;
    div.row{
      width: 592px;
      display: flex;
        flex-direction: row;
        justify-content: space-between;
      input,select{
        padding: 10px;
        width: 280px;
        border: 1px solid #E0E3EB;
        option{
          color: #A3AAC2;
        }
      }
    }
    div.row:first-child{
      margin-bottom: 20px;
    }
    textarea{
      width: 100%;
      margin-top: 20px;
      height: 135px;
      padding: 10px;
      border: 1px solid #E0E3EB;
    }
    span{
      text-align: left;
      width: 100%;
      display: inline-block;
      color: #667299;
    }
    button{
      background-color: $primary;
      padding: 16px;
      border: none;
      color: $w;
      width: 271px;
      font-size: 18px;
      margin-top: 28px;
    }
  }
}