* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  flex-direction: row;
  height: 80px;
  position: relative;
  width: 100%;
  background-color: rgba(0, 26, 255, 0.168627451);
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
}
nav div.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
nav div.logo img {
  display: block;
  width: 28px;
  height: 37.5px;
}
nav div.logo h1 {
  font-size: 20px;
  font-weight: 700;
  color: #2947a9;
}
nav label {
  display: none;
}
nav input[type=checkbox] {
  display: none;
}
nav ul {
  display: flex;
  list-style: none;
  position: static;
  background-color: transparent;
  gap: 3%;
  width: 35vw;
  justify-content: space-evenly;
}
nav ul li {
  border: none;
}
nav ul li:last-child {
  color: #f9995d;
  font-weight: 600;
}

@media (max-width: 1100px) {
  nav ul {
    width: 50vw;
  }
}
@media (max-width: 768px) {
  nav label {
    aspect-ratio: 1;
    width: 20px;
  }
  nav label i {
    width: 100%;
  }
  nav ul {
    position: absolute;
    display: none;
    z-index: 20;
    background-color: rgb(116, 127, 229);
    top: 100%;
    left: 0;
    list-style: none;
    width: 100%;
  }
  nav ul li {
    padding: 1%;
    text-align: center;
    border-bottom: 1px solid #ccc9c9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  nav ul:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  nav input[type=checkbox]:checked ~ ul {
    display: block;
  }
  nav label {
    display: block;
  }
}
header {
  background: url(../../assests/Images/background/Hero.jpg);
  height: 40rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
}
header h2 {
  color: #292e3d;
  font-weight: 600;
  font-size: 4rem;
  align-self: center;
  width: 45%;
  margin-left: 10%;
}
header div.popup {
  background-color: #3559c7;
  width: 20%;
  align-self: flex-end;
  color: #eee;
  margin-left: 15%;
  text-align: center;
}
header div.popup h3 {
  font-weight: 700;
  padding: 5% 0 2% 0;
  font-size: 14px;
}
header div.popup p {
  padding: 3%;
  font-size: 15px;
  margin-bottom: 5%;
}
header div.popup div.buttons {
  width: 100%;
  display: flex;
}
header div.popup div.buttons button {
  width: 100%;
  background-color: #292e3d;
  color: #eee;
  padding: 1%;
  border: none;
  outline: none;
}
header div.popup div.buttons button:first-child {
  border-right: 1px solid #eee;
}

@media (max-width: 990px) {
  header {
    height: 30rem;
    flex-direction: column;
  }
  header h2 {
    width: 80%;
    margin: auto;
  }
  header div.popup {
    width: 40%;
    align-self: center;
  }
  header div.popup h3 {
    padding: 3% 2%;
  }
  header div.popup p {
    padding: 1% 2%;
  }
}
@media (max-width: 678px) {
  header {
    height: 20rem;
  }
  header h2 {
    font-size: 2.5rem;
  }
  header div.popup {
    width: 70%;
    align-self: center;
  }
  header div.popup h3 {
    padding: 3% 2%;
  }
  header div.popup p {
    padding: 1% 2%;
  }
}
section.reputation {
  margin: 5% auto;
}
section.reputation h2 {
  font-weight: 700;
  text-align: center;
  font-size: 2em;
  margin-bottom: 2%;
  color: #292e3d;
  border: 1ps solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
section.reputation div.container {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: auto;
  gap: 5%;
}
section.reputation div.container div.card {
  width: 18rem;
  border-radius: 3px;
  color: #292e3d;
  padding: 1%;
  border: 1px solid #ccc9c9;
}
section.reputation div.container div.card img {
  width: 25px;
  aspect-ratio: 1;
}
section.reputation div.container div.card h3 {
  font-weight: 700;
  font-size: 15px;
}
section.reputation div.container div.card p {
  color: #858ead;
}

@media (max-width: 768px) {
  section.reputation div.container {
    flex-direction: column;
  }
  section.reputation div.container div.card {
    margin: 1% auto;
    padding: 2%;
    width: 60%;
  }
}
@media (max-width: 468px) {
  section.reputation {
    margin: 10% auto;
  }
  section.reputation div.container div.card {
    padding: 3%;
    width: 90%;
    margin: 2% auto;
  }
}
section.image {
  background: url(../../assests/Images/background/person.svg);
  width: 60%;
  height: 30rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 10%;
  position: relative;
}
section.image div.about {
  left: 90%;
  top: 15%;
  position: absolute;
  background-color: #2947a9;
  padding: 5% 3%;
  height: 70%;
  width: 40%;
  color: #eee;
}
section.image div.about h3 {
  font-weight: 700;
  margin-bottom: 5%;
  font-size: 1.5rem;
}
section.image div.about p {
  font-size: 0.8rem;
  margin-bottom: 18%;
}
section.image div.about button {
  background-color: #eee;
  color: #2947a9;
  padding: 3%;
  border: none;
  outline: none;
  border-radius: 3px;
}

@media (max-width: 900px) {
  section.image {
    width: 50%;
    height: 28rem;
  }
  section.image div.about {
    padding: 7% 5%;
    width: 70%;
    height: 70%;
  }
  section.image div.about p {
    margin-bottom: 10%;
  }
}
@media (max-width: 600px) {
  section.image {
    width: 90%;
    margin: auto;
    height: 20rem;
  }
  section.image div.about {
    top: 100%;
    left: 0;
    padding: 7% 5%;
    width: 100%;
    height: auto;
  }
  section.image div.about p {
    margin-bottom: 10%;
  }
}
section.services {
  background-color: #f6f8f7;
  margin: 5% auto;
  padding: 3%;
}
section.services h2 {
  color: #292e3d;
  text-align: center;
  font-weight: 700;
  padding-bottom: 3%;
}
section.services div.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 50%;
  gap: 3%;
  margin: auto;
}
section.services div.container div.card:nth-of-type(even) {
  background-color: #2947a9;
  color: #eee;
  text-align: center;
  padding: 3%;
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20%;
}
section.services div.container div.card:nth-of-type(even) img {
  width: 30px;
  aspect-ratio: 1;
}
section.services div.container div.card:nth-of-type(even) img {
  border-bottom: 1px solid #eee;
}
section.services div.container div.card:nth-of-type(odd) {
  background-color: #eee;
  color: #2947a9;
  text-align: center;
  padding: 3%;
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20%;
}
section.services div.container div.card:nth-of-type(odd) img {
  width: 30px;
  aspect-ratio: 1;
}
section.services div.container div.card:nth-of-type(odd) img {
  border-bottom: 1px solid #eee;
}

@media (max-width: 1200px) {
  section.services div.container {
    width: 70%;
  }
}
@media (max-width: 600px) {
  section.services {
    margin-top: 60%;
  }
  section.services div.container {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
}
@media (max-width: 520px) {
  section.services {
    margin-top: 80%;
  }
  section.services div.container {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
}
@media (max-width: 480px) {
  section.services div.container {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }
  section.services div.container div.card img {
    width: 80px !important;
  }
}
@media (max-width: 350px) {
  section.services {
    margin-top: 90%;
  }
  section.services div.container {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }
}
section.experience {
  display: flex;
  width: 90%;
  margin: auto;
}
section.experience div.left {
  width: 50%;
}
section.experience div.right {
  width: 20%;
}
section.experience div.right h3 {
  color: #2947a9;
  font-weight: 700;
  font-size: 2rem;
}
section.experience div.right p {
  color: #525b7a;
  margin: 6% 0;
}
section.experience div.right button {
  background-color: #2947a9;
  color: #eee;
  padding: 3% 5%;
  border: none;
  outline: none;
}

/*# sourceMappingURL=index.css.map */
